<p>{{ 'mailers.administrator_notifications.templates.channel_notifications_mailer.email_disconnect.greeting' | t }}</p>

<p>{{ 'mailers.administrator_notifications.templates.channel_notifications_mailer.email_disconnect.message' | t }}</p>
<p>{{ 'mailers.administrator_notifications.templates.channel_notifications_mailer.email_disconnect.explanation' | t }}</p>

<p>
Clique <a href="{{action_url}}">{{ 'mailers.administrator_notifications.templates.channel_notifications_mailer.email_disconnect.action' | t }}</a> para reconectar.
</p>
