<p>{{ 'mailers.administrator_notifications.templates.automation_rule.greeting' | t }}</p>

<p>{{ 'mailers.administrator_notifications.templates.channel.whatsapp.message' | t }}</p>

<p>
{{ 'mailers.administrator_notifications.templates.channel.whatsapp.message_secondary' | t }}
</p>

<p>
<a href="{{action_url}}">{{ 'mailers.administrator_notifications.templates.channel.whatsapp.action' | t }}</a>
</p>
